<div class="main-section">
    <div #board class="grid">
      <div class="row" *ngFor="let row of grid">
        <div class="cell" *ngFor="let jewel of row" (click)="jewelMove(jewel)">
          <img [src]="'../../../../assets/jewel-game/' + jewel.imagen" [alt]="jewel.color" *ngIf="!jewel.delete">
        </div>
      </div>
    </div>

    <div class="nav">
      <div class="title">
        <h1>Magical Jewels</h1>
      </div>
      <div class="buttons">
        <button (click)="reset()">Reset</button>
      </div>
      <div class="score">
        <h1>Puntaje: {{ score }}</h1>
      </div>
    </div>
</div>
